<!--
TITLE: IUPUI Computer Science 3D Gaming Design
AUTHOR: Joshua Ewart
PURPOSE: Project Page to Host 

Site to use: http://ieeexplore.ieee.org/document/7748897/?reload=true

NOTE: ORIGINALLY CREATED ON: 24 Feburary 2018
LAST MODIFIED ON: 17 April 2018
-->

*{
	margin:0 0 6px;
}

header{
	text-align:left;
	color:#00FF00 ;
	background-color:#555555;
	padding:15px 30px;
}

h1{
	margin: 0px;
	width:100%;
	color: #00FF00;
}
h2{
	width: 100%;
	color: #EE0000;
	line-height: 40px;
	margin:20px;
}
h3{
	color: #1E6E68;
	line-height: 30px;
	text-align: center;
}

body {
	background-color: #DDDDDD;
	
}

p {
	padding:15px 30px;
	padding-left: 2em;
}

canvas{
	background-color: #FFEEFF;
    margin: 0 auto;
	width: 100%;
	height: 75%;
	float: left;
}

#link{
	color: #00FF00;
	text-decoration: underline;
	height: 250px;
}
